.navbar {
  width: 35%;
  height: 100%;
  min-width: 300px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border-radius: 100px;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.dark-mode .navbar {
  box-shadow: rgba(255, 255, 255, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border: 1px solid white;
  background-color: #2c2c2c;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.buttons button {
  height: 50%;
  width: 15%;
  border-radius: 70px;
  transition: transform 0.2s ease-in;
}

.buttons button:hover {
  cursor: pointer;
  transform: scale(1.14);
}
.navbar .buttons p {
  font-size: 90%;
  font-weight: 500;
}
